requirements.txt
localhost.pem
__pycache__
*.pyc
*.swp
.idea
venv*
**egg-info**
config/*.env
config/*.ini
**/node_modules
data
docker/backup
**npm-debug.log
/celerybeat-schedule.dat
/celerybeat-schedule.bak
/celerybeat-schedule.dir
