{% extends "security/security_base.html" %}

{% block form_content %}
    <form role="form" action="{{ url_for_security('forgot_password') }}" method="POST" name="forgot_password_form">
        <h1>Forgot Password</h1>
        {{ forgot_password_form.hidden_tag() }}
        <div class="form-group">
            {{ render_field_with_errors(forgot_password_form.email, class_="form-control") }}
        </div>
        <div class=" text-right">
            {{ render_field(forgot_password_form.submit, class_="btn btn-default") }}
        </div>
    </form>
{% endblock %}