<script>
  function onSubmit(token) {
    document.getElementById("contact-target").submit();
  }
</script>
<form id="contact-target" class="form-horizontal" role="form" method="post"
      action="{{ url_for('landing.index') }}">
    {{ contact_form.hidden_tag() }}
    {{ contact_form.email(placeholder="example@domain.com", class="form-control input-md") }}
    {{ contact_form.message(placeholder="Drop us a message!", class="form-control input-md", rows="4") }}
    <div class="btn-group-justified">
        <div class="btn-group">
            {#            {{ contact_form.submit(class="btn btn-default") }}#}
            <button class="g-recaptcha btn btn-default"
                    data-sitekey="{{ recaptcha_site_key }}"
                    data-callback="onSubmit">
                Send
            </button>
        </div>
    </div>
</form>