.intro-header {
    background: #e2dbd5;
}

.wrapper * {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    vertical-align: baseline;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.ribbon-wrap {
    overflow: hidden;
    position: relative;
}

.ribbon {
    z-index: 100;
    position: absolute;
    padding: 0;
    margin: 0;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform-origin: 0 100%;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .12), 0 1px 6px 0 rgba(0, 0, 0, .12);
    background-color: #ffeb3b;
    color: rgba(0, 0, 0, 0.7);
    text-transform: uppercase;
    height: 30px;
    width: 150px;
    top: -30px;
    transform: rotateZ(45deg);
    padding-left: 30px;
    padding-right: 30px;
    line-height: 30px;
    right: -43.933982822018px;
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
}

/*its also known as clearfix*/
.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    zoom: 1; /*For IE 6/7 (trigger hasLayout) */
}

.pricing-table {
    width: 80%;
    margin: 25px auto;
    text-align: center;
}

.pricing-table .heading {
    color: #9C9E9F;
    text-transform: uppercase;
    font-size: 1.3em;
}

.block {
    display: inline-block;
    vertical-align: top;
    /*min-width: 250px;*/
    min-width: 330px;
    width: 30%;
    margin: 1.5%;
    overflow: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    transition: all 0.15s ease;
}

@media (max-width: 1385px) {
    .pricing-table {
        width: 95%;
    }
}

.block:hover {
    box-shadow: 0 0.3em 1em 0 rgba(0, 0, 0, 0.6);
}

/*Shared properties*/
.title, .pt-footer {
    color: #FEFEFE;
    text-transform: capitalize;
    line-height: 2.5;
    position: relative;
    font-size: 1.2em;
}

.content {
    position: relative;
    color: #FEFEFE;
    padding: 0 0 10px 0;
}

/*arrow creation*/
.content:after, .content:before, .pt-footer:before, .pt-footer:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.pt-footer:after, .pt-footer:before {
    top: 0;
}

.content:after, .pt-footer:after {
    border-color: rgba(136, 183, 213, 0);
    border-width: 5px;
    margin-left: -5px;
}

/*/arrow creation*/
.price {
    position: relative;
    display: inline-block;
    white-space: nowrap;
    margin-right: -0.75em;
}

.price span {
    font-size: 6em;
    letter-spacing: 8px;
    font-weight: bold;
}

.price sup {
    font-size: 1.5em;
    top: -2em;
    left: 0.2em;
}

.price sub {
    left: -1.2em;
}

.hint {
    font-style: italic;
    font-size: 0.9em;
}

.features {
    list-style-type: none;
    background: #FFFFFF;
    text-align: left;
    color: #9C9C9C;
    padding: 30px 18%;
    font-size: 1em;
}

.features li {
    padding: 15px 0;
    width: 100%;
}

.features li span {
    padding-right: 1.5em;
}

.pt-footer {
    text-transform: capitalize;
}

/*PERSONAL*/
.personal .title {
    background: #78CFBF;
}

.personal .content, .personal .pt-footer {
    background: #82DACA;
}

.personal .content:after {
    border-top-color: #82DACA;
}

.personal .pt-footer:after {
    border-top-color: #FFFFFF;
}

/*PROFESSIONAL*/
.professional .title {
    background: #3EC6E0;
}

.professional .content, .professional .pt-footer {
    background: #53CFE9;
}

.professional .content:after {
    border-top-color: #53CFE9;
}

.professional .pt-footer:after {
    border-top-color: #FFFFFF;
}

/*BUSINESS*/
.enterprise .title {
    background: #E3536C;
}

.enterprise .content, .enterprise .pt-footer {
    background: #EB6379;
}

.enterprise .content:after {
    border-top-color: #EB6379;
}

.enterprise .pt-footer:after {
    border-top-color: #FFFFFF;
}

a.plain-link {
    text-decoration: none;
    color: inherit;
}

sup > .fa {
    font-size: 75%;
}
