{% extends "bootstrap/base.html" %}

{% block html_attribs %} lang="en" {% endblock %}

{% block metas %}
    {{ super() }}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="FanLens: data processing and ai workbench">
    <meta name="author" content="@chjdev">
{% endblock %}

{% block title %} FanLens {% endblock %}

{% import "bootstrap/fixes.html" as fixes %}

{% block head %}
    {{ super() }}
    {{ fixes.ie8() }}
{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='apple-touch-icon-precomposed.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        $('#app').tooltip({
            selector: "a[rel=tooltip]"
        })
    </script>
    <script type="text/javascript">
        var CSRFToken = "{{ csrf_token() }}";
    </script>
{% endblock %}

{% block navbar %}
    <header>
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse"
                                    data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                                    class="icon-bar"></span><span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="/" rel="home"><img
                                    src="{{ url_for('static', filename='img/logo.png') }}" alt="src"/>
                                <span>FanLens.ai</span></a>
                        </div>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tools<strong
                                            class="caret"></strong></a>
                                    <ul class="dropdown-menu">
                                        {% for text, href in [("Home", "/"), ("Tagger", "/tagger")] %}
                                            <li>
                                                <a href="{{ href }}">{{ text }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <a href="#">Billing</a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings<strong
                                            class="caret"></strong></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="/user">User Profile</a>
                                        </li>
                                        <li>
                                            <a href="/user/logout">Logout</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
{% endblock %}

{% block content %}
    <div id="app">
        {% block app %}
        {% endblock %}
    </div>
    <div class="container-fluid" id="alerts">
        {% block alerts %}
        {% endblock %}
    </div>
{% endblock %}

{% block body %}
    {{ super() }}
    <footer>
        {% block footer %}
            &copy; 2016 <a href="https://twitter.com/chjdev">@chjdev</a>
        {% endblock %}
    </footer>
{% endblock %}
