{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/landing.css') }}">
{% endblock %}

{% block navbar %}
    <header>
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse"
                                    data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                                    class="icon-bar"></span><span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="/" rel="home"><img
                                    src="{{ url_for('static', filename='img/logo.png') }}" alt="src"/>
                                <span>{{ variables.company }}</span></a>
                        </div>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <a href="#">Pricing</a>
                                </li>
                                <li>
                                    <a href="#">Team</a>
                                </li>
                                <li>
                                    <a href="/user/register">Signup</a>
                                </li>
                                <li>
                                    <a href="/user/login">Login</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
{% endblock %}

{% block app %}
    <div class="container-fluid">
        <section class="row" id="elevator">
            <div class="col-md-12">
            </div>
        </section>
        <section class="row" id="trustedby">
            <div class="col-md-8 col-md-offset-2">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h1>Trusted By</h1>
                        </div>
                    </div>
                    <div class="row", style="margin-bottom: 2em;">
                        <div class="col-md-4">
                            <a href="https://visalyze.com" target="_blank"> <img
                                    src="{{ url_for('static', filename='img/landing/sirenio.png') }}"
                                    alt="sirenio.com"/></a>
                        </div>
                        <div class="col-md-8 text-justify">
                            <p>
                                "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget metus at dui
                                finibus lacinia. Maecenas ornare molestie suscipit. Nunc tristique nunc non mauris
                                tristique, quis facilisis sapien posuere. In a augue felis. Phasellus suscipit at nisi
                                et consequat."
                            </p>
                            <p class="text-right">-- Allan Lund Hansen, CEO of <a href="https://sirenio.com"
                                                                                  target="_blank">sirenio.com</a></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <a href="https://visalyze.com" target="_blank"> <img
                                    src="{{ url_for('static', filename='img/landing/visalyze.png') }}"
                                    alt="visalyze.com"/></a>
                        </div>
                        <div class="col-md-8">
                            <p>
                                "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget metus at dui
                                finibus lacinia. Maecenas ornare molestie suscipit. Nunc tristique nunc non mauris
                                tristique, quis facilisis sapien posuere. In a augue felis. Phasellus suscipit at nisi
                                et consequat."
                            </p>
                            <p class="text-right">-- Christoph Holz, CEO of <a href="https://visalyze.com"
                                                                               target="_blank">visalyze.com</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="row">
            <div class="col-md-12">
                hello
            </div>
        </section>
        <section class="row">
            <div class="col-md-12">
                goodbye
            </div>
        </section>
    </div>
    <div class="modal fade" id="termsModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Terms of Service</h4>
                </div>
                <div class="modal-body">
                    {% include 'landing/terms.html' %}
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="noticeModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Legal Notice</h4>
                </div>
                <div class="modal-body">
                    {% include 'landing/notice.html' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6 text-right">
                <ul class="list-unstyled">
                    <li><a href="#about">About Us</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li><a href="#support">Support</a></li>
                </ul>
            </div>
            <div class="col-xs-6 text-left">
                <ul class="list-unstyled">
                    <li><a href="#legal" data-toggle="modal" data-target="#noticeModal">Legal Notice</a></li>
                    <li><a href="#terms" data-toggle="modal" data-target="#termsModal">Terms of Service</a></li>
                    <li><a href="#jobs">Jobs</a></li>
                </ul>
            </div>
        </div>
        <div class="row text-center">
            Fanlens &copy; 2016 All rights reserved
        </div>
    </div>
{% endblock %}
