body {
    background-color: #ddd;
}
nav {
    opacity: 0.85;
}

#app {
    padding-top: 1em;
}

#content {
    padding-top: 50px;
}

#main {
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    #sidebar {
        padding-right: 0 !important;
    }

    #infobar {
        padding-left: 0 !important;
    }
}

#alerts {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 999999;
}

footer {
    padding: 1.5rem;
    text-align: center;
}

.navbar-brand {
    padding: 5px;
    wdith: 30em;
}

.navbar-brand > span {
    position: relative;
    top: 0.1em;
}

.navbar-brand > img {
    height: 100%;
    border-radius: 0.7em;
    border: 2px solid black;
    display: inline;
}

.navbar-right {
    padding-right: 15px;
}

.btn-ellipsis, .ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.btn-ellipsis {
    width: 95%;
}

.btn:focus, .btn:active:focus, .btn.active:focus,
.btn.focus, .btn:active.focus, .btn.active.focus {
    outline: none;
}

.btn-default {
    background-color: #555;
    border-color: #333
}

.panel {
    margin-bottom: 15px !important;
}

.list-group,
.panel-body {
    padding: 0;
    margin-bottom: 0;
}

.panel {
    box-shadow: 0px 0px 4px 2px #bbb;
}

.panel-body > .list-group > .list-group-item:first-child,
.panel-body > .list-group > .list-group-item {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: 0;
}

.panel-body > .list-group > .list-group-item {
    border-top: 1px solid #ecf0f1 !important;
}

.panel-button {
    text-align: left;
    display: block;
}
