footer div.text-left {
    border-left: 1px solid #555;
}

#app {
    color: white;
    padding-top: 0;
}

.modal {
    color: black;
}

#app img {
    width: 100%;
}

#app section {
    height: 35em;
    overflow: scroll;
    padding: 2em 5em 2em 5em;
}

#app section:nth-child(1) {
    background-color: #2780e3;
}

#app section:nth-child(2) {
    background-color: #ff7518;
}

#app section:nth-child(3) {
    background-color: #9954bb;
}

#app section:nth-child(4) {
    background-color: #3fb618;
}