.panel-body .nav {
    display: inline
}

.glyphicon {
    margin-right: 0.35rem;
    display: inline-block;
    top: 0.2rem;
    margin-bottom: 0.45rem;
    color: #fff;
}

.glyphicon.quality {
    margin-right: 0;
    margin-left: 0.35rem;
}

.form-group {
    margin: 0;
}

#tagger .list-group-item {
    background-color: transparent;
    padding: 0;
    border: 0;
}

#tagger .list-group {
    margin-left: -0.4em;
    margin-right: -0.4em;
}

.tagger {
    background-color: white;
    margin: 0 0.5em 1em 0.5em;
    border: 1em solid white;
}

.tagger .list-group-item-text {
    overflow-y: auto;
    height: 6.25em;
    margin-bottom: 0.8em;
}

#evaluator .tool {
    background-color: white;
    padding: 1em;
    margin-bottom: 1em;
}

.tagger,
#evaluator .tool {
    box-shadow: 0px 0px 4px 2px #bbb;
}

.new-tag {
    margin-left: 0.2em;
}

.fb-sources-icon {
    width: 1.5em;
    height: auto;
    margin-right: 0.5em;
}

.fb-sources-text {
    vertical-align: middle;
    line-height: 1.5em;
}

.fb-icon {
    margin: auto;
    width: 100%;
}

.fb-icon-col {
    padding: 0;
    margin: 0 0 0.7rem;
}

.fb-main {
    padding-left: 0.7rem;
    padding-right: 0.7rem;
}
