div#team-bg,
div#team {
    background-size: contain;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

div#team-bg {
    background-image: url(/cdn/img/enterprise-bg-pattern-1080.jpg)
}

div#team {
    background-image: url(/cdn/img/enterprise-bg-1080.jpg);
    background-repeat: no-repeat;
}

@media screen and (max-width: 779px) {
    div#team {
        background-size: cover;
        background-position: center;
        transform: scale(1.8) translate(7vw, 20vh);
    }
}

div#offers-container {
    position: relative;
    padding: 0;
    margin: 0;
    margin-top: 10vh;
}

@media all and (max-height: 50em) {
    div#offers-container {
        margin-top: 1em;
    }
}

.offer {
    border-radius: 0.5em !important;
    margin: 5px;
    overflow: hidden;
    max-width: 100%;
    background-color: rgba(255, 255, 255, 0.8) !important;
}

.offer-banner {
    width: 100%;
    height: 7em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.offer-header,
.offer-title {
    text-align: center;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.offer-title {
    padding: 0.5em !important;
    border-top-left-radius: 0.5em !important;
    border-top-right-radius: 0.5em !important;
}

.offer-header {
    border-bottom-left-radius: 0.5em !important;
    border-bottom-right-radius: 0.5em !important;
    padding: 0.25em !important;
}

.offer-header > div {
    padding: 0 !important;
}

.lighter.theme-red:not(.no-bg) > button,
.lighter.theme-red:not(.no-bg) {
    background-color: rgba(235, 99, 121, 0.87) !important;
}

.lighter.theme-red > label {
    color: rgba(235, 99, 121, 0.87) !important;
}

.lighter.theme-red hr {
    border-top: none rgba(235, 99, 121, 0.87) !important;
    border-left: none rgba(235, 99, 121, 0.87) !important;
    border-right: none rgba(235, 99, 121, 0.87) !important;
    border-bottom: 2px solid rgba(235, 99, 121, 0.87) !important;
}

.darker.theme-red:not(.no-bg) > button,
.darker.theme-red:not(.no-bg) {
    background-color: rgba(227, 83, 108, 0.87) !important;
}

.darker.theme-red > label {
    color: rgba(227, 83, 108, 0.87) !important;
}

.darker.theme-red hr {
    border-top: none rgba(227, 83, 108, 0.87) !important;
    border-left: none rgba(227, 83, 108, 0.87) !important;
    border-right: none rgba(227, 83, 108, 0.87) !important;
    border-bottom: 2px solid rgba(227, 83, 108, 0.87) !important;
}

.lighter.theme-green:not(.no-bg) > button,
.lighter.theme-green:not(.no-bg) {
    background-color: rgba(130, 218, 202, 0.87) !important;
}

.lighter.theme-green > label {
    color: rgba(130, 218, 202, 0.87) !important;
}

.lighter.theme-green hr {
    border-top: none rgba(130, 218, 202, 0.87) !important;
    border-left: none rgba(130, 218, 202, 0.87) !important;
    border-right: none rgba(130, 218, 202, 0.87) !important;
    border-bottom: 2px solid rgba(130, 218, 202, 0.87) !important;
}

.darker.theme-green:not(.no-bg) > button,
.darker.theme-green:not(.no-bg) {
    background-color: rgba(120, 207, 191, 0.87) !important;
}

.darker.theme-green > label {
    color: rgba(120, 207, 191, 0.87) !important;
}

.darker.theme-green hr {
    border-top: none rgba(120, 207, 191, 0.87) !important;
    border-left: none rgba(120, 207, 191, 0.87) !important;
    border-right: none rgba(120, 207, 191, 0.87) !important;
    border-bottom: 2px solid rgba(120, 207, 191, 0.87) !important;
}

.lighter.theme-blue:not(.no-bg) > button,
.lighter.theme-blue:not(.no-bg) {
    background-color: rgba(83, 207, 233, 0.87) !important;
}

.lighter.theme-blue > label {
    color: rgba(83, 207, 233, 0.87) !important;
}

.lighter.theme-blue hr {
    border-top: none rgba(83, 207, 233, 0.87) !important;
    border-left: none rgba(83, 207, 233, 0.87) !important;
    border-right: none rgba(83, 207, 233, 0.87) !important;
    border-bottom: 2px solid rgba(83, 207, 233, 0.87) !important;
}

.darker.theme-blue:not(.no-bg) > button,
.darker.theme-blue:not(.no-bg) {
    background-color: rgba(62, 198, 224, 0.87) !important;
}

.darker.theme-blue > label {
    color: rgba(62, 198, 224, 0.87) !important;
}

.darker.theme-blue hr {
    border-top: none rgba(62, 198, 224, 0.87) !important;
    border-left: none rgba(62, 198, 224, 0.87) !important;
    border-right: none rgba(62, 198, 224, 0.87) !important;
    border-bottom: 2px solid rgba(62, 198, 224, 0.87) !important;
}

.lighter.theme-violet:not(.no-bg) > button,
.lighter.theme-violet:not(.no-bg) {
    background-color: rgba(202, 167, 255, 0.87) !important;
}

.lighter.theme-violet > label {
    color: rgba(202, 167, 255, 0.87) !important;
}

.lighter.theme-violet hr {
    border-top: none rgba(202, 167, 255, 0.87) !important;
    border-left: none rgba(202, 167, 255, 0.87) !important;
    border-right: none rgba(202, 167, 255, 0.87) !important;
    border-bottom: 2px solid rgba(202, 167, 255, 0.87) !important;
}

.darker.theme-violet:not(.no-bg) > button,
.darker.theme-violet:not(.no-bg) {
    background-color: rgba(202, 132, 255, 0.87) !important;
}

.darker.theme-violet > label {
    color: rgba(202, 132, 255, 0.87) !important;
}

.darker.theme-violet hr {
    border-top: none rgba(202, 132, 255, 0.87) !important;
    border-left: none rgba(202, 132, 255, 0.87) !important;
    border-right: none rgba(202, 132, 255, 0.87) !important;
    border-bottom: 2px solid rgba(202, 132, 255, 0.87) !important;
}

.offer-text {
    text-align: left;
    padding: 0 2em !important;
    font-size: 13pt !important;
}

div#offers {
    text-align: left;
}

div#signup {
    position: absolute;
    margin: 0;
    padding: 0;
    bottom: 20%;
    width: 100%;
}

div#signup > .signup-fields {
    background-color: rgba(255, 255, 255, 0.85) !important;
    padding: 0.25em 1em;
    margin: 0;
}


