footer {
    font-size: 0.8rem;
    color: #444;
    display: flex !important;
    flex: 0 0 auto !important;
    z-index: 100;
}

footer ul#footer-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer ul#footer-nav li {
    display: inline
}

footer ul#footer-nav a {
    text-decoration: none;
    color: #444;
    font-weight: bold;
}

footer ul#footer-nav li:nth-child(n + 2):before {
    content: '•';
    margin: 0 0.5em;
}
