<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="original-source" href="{{url}}" />
  <meta name="description" content="{{description}}"/>
  <link rel="canonical" href="{{url}}" />

  <meta property="og:locale" content="en_US" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="{{title}}" />
  <meta property="og:description" content="{{description}}" />
  <meta property="og:url" content="{{url}}" />
  <meta property="og:site_name" content="{{site_name}}" />
  <meta property="og:image" content="{{image}}" />

  <meta name="twitter:card" content="{{card}}" />
  <meta name="twitter:site" content="{{site}}" />
  <meta name="twitter:title" content="{{title}}" />
  <meta name="twitter:description" content="{{description}}" />
  <meta name="twitter:image" content="{{image}}" />
  <meta name="twitter:url" content="{{url}}" />
</head>

<body>
</body>
</html>
