{% set email = 'info@fanlens.io' %}
{% set phone = '0043 (0) 699 170 762 68' %}
{% set responsible = 'Christian Junker' %}
{% set company = 'Fanlens' %}
{% set terms_version = 'June 1st, 2016' %}
{% set street = 'Dorfstraße 17' %}
{% set postal = '6121 Baumkirchen' %}
{% set country = 'Austria' %}

