{% import 'variables.jinja' as variables %}

<h1>Privacy Policy</h1>
<h2>Changing or Deleting Information</h2>
<p>
    If you are a registered user of the Site, you may access and update or correct the information you provided
    to us by e-mailing us at {{ variables.email }}.
</p>
<h2>Security</h2>
<p>
    {{ variables.company }} is very concerned about safeguarding the confidentiality of your personally identifiable information.
    We employ administrative, physical and electronic measures designed to protect your information from unauthorized
    access.
    We will make any legally-required disclosures of any breach of the security, confidentiality,
    or integrity of your unencrypted electronically stored personal data to you via email or conspicuous posting on
    this Site in the most expedient time possible and without unreasonable delay, consistent with (i) the legitimate
    needs of law enforcement or (ii) any measures necessary to determine the scope of the breach and restore the
    reasonable integrity of the data system.
</p>
<h2>Links to Other Websites</h2>
<p>
    Our Site contains links to other websites. The fact that we link to a website is not an endorsement, authorization
    or representation of our affiliation with that third party. We do not exercise control over third party websites.
    These other websites may place their own cookies or other files on your computer, collect data or solicit personally
    identifiable information from you. Other sites follow different rules regarding the use or disclosure of the
    personally identifiable information you submit to them. We encourage you to read the privacy policies or statements
    of the other websites you visit.
</p>
<h2>Our Policy Towards Children</h2>
<p>
    The Site is not directed to persons under 13. If a parent or guardian becomes aware that his or her child has
    provided us with personally identifiable information without their consent, he or she should contact us
    at {{ variables.email }}.
    We do not knowingly collect personally identifiable information from children under 13. If we become aware that a
    child under 13 has provided us with personal identifiable Information, we will delete such information from our
    files.
</p>
<h2>Changes to this Policy</h2>
<p>
    This Privacy Policy may be updated from time to time for any reason;
    each version will apply to information collected while it was in place.
    We will notify you of any material changes to our Privacy Policy by posting the new Privacy Policy on our Site.
    You are advised to consult this Privacy Policy regularly for any changes.
</p>
<p>This Privacy Policy is effective as of June 1st, 2016.</p>
<p>If you have any thoughts or questions about this Privacy Policy please send an email to {{ variables.email }}.</p>
